
/*===========================================================
#html
===========================================================*/

* {
  box-sizing: border-box;
  // background-color: rgba(0, 0, 255, 0.3);
  list-style: none;
}

body, h1, h2, h3, h4, h5, ul, p, li, a, h1 a, ul li a, span{
  // background-color: aliceblue;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Proxima Nova', 'proxima-nova' ,sans-serif;
  font-weight: 200; 
    -webkit-font-smoothing: antialiased;  
}

h1{
  margin: 2rem;
}

hr{
  margin: 2rem 0
}

.wrap {
  margin: 2rem;
}

.asset{
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  width: 100%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  span{
    width: 30.83%;
    margin: 0 0.5rem;
  }
  span img{
    max-width: 100%;
    display: inline;
    height: auto;
    margin: 1rem 1rem 0 1rem ;
    border-radius: 4px 4px 0 0;
  }
  span p{
    padding: 1rem;
    margin: 0 1rem;
    line-height: 1.5rem;
    border: 1px solid #000;
    color: #000;
    display: flex;
  }
}

/*===========================================================
#dom breakpoints
===========================================================*/

@media (max-width: 400px) {

}

@media only screen and (max-width: 767px){

  .wrap{
    margin: 2rem;
  }
  .wrap h1{
    text-align: center;
    margin: 0;
  }

  .asset{
    margin: 0 auto;
    span{
      margin: 0;
      width: auto;
    }
    span p{
      margin: 0 0 2rem 0rem;
      padding: 1rem;
    }
    span img{
      margin: 0;
      padding: 0;
      border-radius: 4px 4px 0 0;
    }
  }

}

  
@media only screen and (max-width: 992px) {




}  
@media (max-width: 1200px) {
}
