/*===========================================================
#html
===========================================================*/
* {
  box-sizing: border-box;
  list-style: none; }

body, h1, h2, h3, h4, h5, ul, p, li, a, h1 a, ul li a, span {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Proxima Nova', 'proxima-nova' ,sans-serif;
  font-weight: 200;
  -webkit-font-smoothing: antialiased; }

h1 {
  margin: 2rem; }

hr {
  margin: 2rem 0; }

.wrap {
  margin: 2rem; }

.asset {
  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  width: 100%;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .asset span {
    width: 30.83%;
    margin: 0 0.5rem; }
  .asset span img {
    max-width: 100%;
    display: inline;
    height: auto;
    margin: 1rem 1rem 0 1rem;
    border-radius: 4px 4px 0 0; }
  .asset span p {
    padding: 1rem;
    margin: 0 1rem;
    line-height: 1.5rem;
    border: 1px solid #000;
    color: #000;
    display: flex; }

/*===========================================================
#dom breakpoints
===========================================================*/
@media only screen and (max-width: 767px) {
  .wrap {
    margin: 2rem; }
  .wrap h1 {
    text-align: center;
    margin: 0; }
  .asset {
    margin: 0 auto; }
    .asset span {
      margin: 0;
      width: auto; }
    .asset span p {
      margin: 0 0 2rem 0rem;
      padding: 1rem; }
    .asset span img {
      margin: 0;
      padding: 0;
      border-radius: 4px 4px 0 0; } }
